.footer {
  background-color: #1e1e1e; /* o el color que necesites */
  color: white;
  padding: 20px 0;
}

.search.height {
  height: 2.5rem;
}

.btn-squared {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  padding: 0;
}